$background-color-navbar:  #D8DEDE;
$font-color: black;
$font-color-header:white;
$drop-bgcolor: #D8DEDE;
$nav-menu-color: #D8DEDE;
$background-color-footer: #D8DEDE;
$background-color-header:#595959;

