$font-hind: 'Hind', sans-serif;

$font10: 10px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font25: 25px;
$font60: 60px;
$font40: 40px;

$font700: 700;
$font500: 500;
$font400: 400;
$font300: 300;

$text-none: none;
$list-none: none;
$text-center: center

