@import 'colors';
@import 'extends';
@import 'fonts';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    @extend %header;
    background-color: $background-color-header;

    ul {
        list-style: $list-none;

        li {
            display: inline-block;
            font-size: $font18;
            font-family: $font-hind;

            a {
                text-decoration: $text-none;
                color: $font-color-header;
            }
        }
    }
}

main {
    @extend %main;

    img {
        @extend %main-img;
    }
}

.navbar-principal {
    @extend %navbar-principal;
    background-color: $background-color-navbar;
    font-family: $font-hind;
    
}

.nav-menu-item {
    text-decoration: $text-none;
    color:#D8DEDE;
    font-size: $font15;
}


.drop-bgcolor {
    background-color: $drop-bgcolor;
}

.dropdown-menu {
    ul {
        list-style: $list-none;
        text-align: $text-center;

        li {
            @extend %drop-ul-li;
            font-size: $font16;

            a {
                text-decoration: $text-none;
                color: $font-color;
            }
        }
    }
}

.row {
    .col-md-5 {
        h1 {
            font-family: $font-hind;
            font-weight: $font700;
            font-size: $font60;
        }

        p {
            font-family: $font-hind;
            font-weight: $font400;
            font-size: $font25;
        }

    }
    .col-md-7{
        text-align: center;
    }
}

aside {
    @extend %aside;
    background-color:#A1A4A6;
}

.img-aside1,
.img-aside2,
.img-aside3,
.img-aside4,
.img-aside5,
.img-aside6 {
    @extend %img-aside1;
    
}
.carouselm7 {
    margin: 20px 0;
}
.color-icono {
    background-color: black;
    
}

.c-2 {
    position: relative;
    top: 100px;
    text-align: $text-center;
}

.r-c-2 {
    display: flex;
    justify-content: space-around;
}

.img-c-2 {
    @extend %img-c-2;
}

.img-masvendidos {
    margin-top: 25px;
}

.carousel-item-dimension {
    width: 90%;
    text-align: center;
    margin-left: 100px;
    
                        .ul-carousel-image {
                            list-style: none;
                                        .li-img-caousel-slide {
                                            display: inline-block;
                                            text-decoration: none;
                                        }
                        }
}

.carousel-image {
    display: flex;
    justify-content:space-around;    
}
.section-carousel {
    background-color:#A1A4A6;
}
.img-carousel {
    width: 260px;
    height: 260px;
}

footer {
    width: 100%;
    background-color: $background-color-footer;
    position: relative;
    top: 250px;
}

.icono-insta {
    @extend %i-insta;
}

.ul-navegacion {
    li {

        list-style: $list-none;

        a {
            font-family: $font-hind;
            text-decoration: $text-none;
            color: $font-color;

        }
    }
}

strong {
    color: $font-color;
}

.ul-nav-menu {
    background-color: $nav-menu-color;
    height: 426px;
    text-align: $text-center;

    li {
        list-style: $list-none;


        a {
            font-family: $font-hind;
            text-decoration: $text-none;
            color: $font-color;
            margin-top: 50px;

        }
    }
}

.ul-cards {
    li {
        list-style: $list-none;

        a {
            font-family: $font-hind;
            text-decoration: $text-none;
            color: $font-color;
        }
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
}




/* medias Querys */
/*mobile*/
@media only screen and (max-width:576px) {
    header {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .li-header1 {
        position: relative;
        left: 52px;
    }

    .li-header2 {
        position: relative;
        left: 25px;
    }

    aside {
        .container {
            .row {
                .col-md-5 {
                    order: 2;
                    text-align: $text-center;

                    h1 {
                        font-size: $font40;
                    }

                    p {
                        font-size: $font16;
                        position: relative;

                    }




                }

                .col-md-7 {
                    position: relative;
                    top: -40px;

                    .img-aside1,
                    .img-aside2,
                    .img-aside3,
                    .img-aside4,
                    .img-aside5,
                    .img-aside6 {
                        width: 90%;
                        height: 300px;
                    }

                }
            }
        }
    }

}
.img-masvendidos {
    width: 55%;
}
.img-c-2 {
    width: 100px;
    height: 100px;
}

section {
        .container {
                    .row {
                        font-size: $font14;
                        .col-md-3 {
                                width: 125px;
                                .ul-nav-menu {
                                        width: 125px;
                                }
                        }

                        .col-md-9 {
                                width: 442px;
                                position: relative;
                                bottom: 0px;
                                left: 5px;
                                        .ul-cards {
                                            li {
                                                .card-deck{
                                                        .card {
                                                            width: 80px;
                                                            height: 400px;
                                                        }
                                                }
                                            }
                                        }
                        }

                    }
        }
}


footer {
    position: relative; 
    top: 0;
}

.footer-navegacion {
    .row {
        .md4-navegacion {
            order: 1;

            .container {
                h5 {
                    text-align: $text-center;
                }

                .row {
                    margin: auto;
                    .navegacion1 {
                        text-align: $text-center;

                        .ul-navegacion {
                            width: 190px;
                            position: relative;
                            left: 30px;
                        }
                    }

                    .navegacion2 {
                        text-align: $text-center;

                        .ul-navegacion {                    
                        width: 180px;
                        position: relative;
                        bottom: 174px;
                        left: 235px;
                        }
                    }

                }
            }
        }

        .md4-mediosdepago {
            order: 3;
            text-align: $text-center;
            position: relative;
            bottom: 30px;
        }

        .md4-contactanos {
            order: 2;
            text-align: $text-center;
            position: relative;
            bottom: 65px;
        }
    }
    .pie-footer {
        p {
            font-size: $font12;
        }
    }

}
.carousel-dimensiontotal {
    margin-left: 35px;
}
.h4-carousel {
    font-size: $font18;
}
.img-carousel {
    width: 160px;
    height: 180px;
}

.footer-sections {
    top: -430px;
}

/*Table Styles*/
@media only screen and (min-width:577px) and (max-width:768px) {
    aside {
        .container {
            .row {
                .col-md-5 {
                    order: 2;
                    text-align: $text-center;

                    h1 {
                        font-size: $font40;
                    }

                    p {
                        font-size: $font16;
                        position: relative;

                    }




                }

                .col-md-7 {
                    position: relative;
                    top: -40px;

                    .img-aside1,
                    .img-aside2,
                    .img-aside3,
                    .img-aside4,
                    .img-aside5,
                    .img-aside6 {
                        width: 90%;
                        height: 300px;
                    }

                }
            }
        }
    }

}
 
section {
    .container {
                .row {
                    
                    font-size: $font14;
                    .col-md-3 {
                            width: 125px;
                            .ul-nav-menu {
                                    width: 125px;
                            }
                    }

                    .col-md-9 {
                            width: 442px;
                            position: relative;
                            bottom: 442px;
                            left: 136px;
                                    .ul-cards {
                                        li {
                                            .card-deck{
                                                    .card {
                                                        width: 80px;
                                                        height: 384px;
                                                    }
                                            }
                                        }
                                    }
                    }

                }
    }
    .footer-sections {
        top: -430px;
    }    
}  

    


/*Table Desktop Style*/
@media only screen and (min-width:768px) and (max-width:991px) {

    .img-c-2 {
        width: 150px;
        height: 150px;
    }


    section {
        .container {
                    .row {
                        display:flex;
                        flex-wrap: wrap;
                        font-size: $font14;
                        .col-md-3 {
                                width: 150px;
                                .ul-nav-menu {
                                        width: 150px;
                                }
                        }
    
                        .col-md-9 {
                                width: 442px;
                                position: relative;
                                bottom: 0px;
                                left: 0px;
                                        .ul-cards {
                                            li {
                                                .card-deck{
                                                        .card {
                                                            width: 80px;
                                                            height: 384px;
                                                        }
                                                }
                                            }
                                        }
                        }
    
                    }
        }
    }    
    
.footer-navegacion {
    .row {
        .md4-navegacion {
            order: 1;

            .container {
                h5 {
                    text-align: $text-center;
                }

                .row {
                    .navegacion1 {
                        text-align: $text-center;

                        .ul-navegacion {
                            
                            position: relative;
                            left:-70px;
                        }
                    }

                    .navegacion2 {
                        text-align: $text-center;

                        .ul-navegacion {                    
                        
                        position: relative;
                        bottom: 0px;
                        left: -59px;
                        }
                    }

                }
            }
        }

        .md4-mediosdepago {
            order: 2;
            text-align: $text-center;
            position: relative;
            bottom:0px;
        }

        .md4-contactanos {
            order: 3;
            text-align: $text-center;
            position: relative;
            bottom: 0px;
        }
    }

}
.pie-footer {
    p {
        font-size: $font15;
    }
}
.footer-sections {
    top: 0px;
}
}

/*extra large*/
@media only screen and (min-width:992px) {
    .img-c-2 {
        width: 200px;
        height: 200px;
    }
    aside {
        .container {
            .row {
                

                .col-md-7 {
                    position: relative;
                    top: 0px;

                    .img-aside1,
                    .img-aside2,
                    .img-aside3,
                    .img-aside4,
                    .img-aside5,
                    .img-aside6 {
                        width: 100%;
                        
                    }

                }
            }
        }
    }

    section {
        .container {
                    .row {
                        display:flex;
                        flex-wrap: wrap;
                        font-size: $font16;
                        .col-md-3 {
                                width: 200px;
                                .ul-nav-menu {
                                        width: 200px;
                                }
                        }
    
                        .col-md-9 {
                                width: 442px;
                                position: relative;
                                bottom: 0px;
                                left: 0px;
                                        .ul-cards {
                                            li {
                                                .card-deck{
                                                        .card {
                                                            width: 80px;
                                                            height: 420px;
                                                        }
                                                }
                                            }
                                        }
                        }
    
                    }
        }
    } 
    
    .footer-navegacion {
        .row {
            .md4-navegacion {
                order: 1;
    
                .container {
                    h5 {
                        text-align: $text-center;
                    }
    
                    .row {
                        .navegacion1 {
                            text-align: $text-center;
                            right: 15px;
    
                            .ul-navegacion {
                                
                                position: relative;
                                left:0px;
                            }
                        }
    
                        .navegacion2 {
                            text-align: $text-center;
                            right: 37px;
    
                            .ul-navegacion {                    
                            
                            position: relative;
                            bottom: 0px;
                            left:0px;
                            }
                        }
    
                    }
                }
            }
    
            .md4-mediosdepago {
                order: 2;
                text-align: $text-center;
                position: relative;
                bottom:0px;
            }
    
            .md4-contactanos {
                order: 3;
                text-align: $text-center;
                position: relative;
                bottom: 0px;
            }
        }
    
    }
    .pie-footer {
        p {
            font-size: $font15;
        }
    }
.footer-sections {
    top: 0px;
}  
}